* {
  padding: 0;
  margin: 0;
}

.Overlay {
  height: 100vh;
  width: 100vw;
  font-size: calc(5px + 1vmin);
}

/* Header */
.Overlay-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vmin 5vmin;
}

.Overlay-link {
  color: rgba(255,255,255,.3);
  text-decoration: none;
  transition: .5s;
}

.Overlay-link:hover {
  color: white;
}

/* Pagecounter */
.Overlay-pagecounter {
  position: absolute;
  color: rgba(255,255,255,.3);
  top: 0;
  right: 0;
  padding: 1vmin 5vmin;
  transition: .5s;
}

/* Sosials */
.Overlay-footer {
  position: fixed;
  bottom: 2vh;
  left: 0;
}

.Overlay-footer ul {
  display: inline;
  list-style: none;
  padding-left: 5vmin;
}

.Overlay-footer li {
  display: inline;
  padding-right: 2vmin;
}

.Overlay-sosials {
  text-decoration: none;
  color: rgba(255,255,255,.25);
  transition: .5s;
}

.Overlay-sosials:hover {
  color: white;
}

.Overlay-sosials img {
  filter: invert(25%);
  width: 3vmin;
  height: 3vmin;
  transition: .5s;
}

.Overlay-sosials img:hover {
  filter: invert(100%);
}